<!DOCTYPE html>
<html>
  <head>
    <title>W10D1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <p>Welcome <%= current_user_name %></p>
    <form action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>
    <% else %>
      <p><a href="<%= new_user_url %>">Sign Up</a></p>
      <p>or</p>
      <p><a href="<%= new_session_url %>">Log In</a></p>
    <% end %>
      <%= yield %>
  </body>
</html>
